* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-frame {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 600px;
    background-color: pink;
    border-radius: 8px;
    overflow: hidden;
}

/* =========================
   TOB BAR AREAS
   ========================= */

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 45px;
    background-color: #ec588c;
}

.full-title-area {
    flex: 1;
    border: 1px solid green;

    display: flex;
    flex-direction: row;
}

.icon-area {
    width: 45px;
    border: 1px solid green;
}

.title-area {
    flex: 1;
    border: 1px solid green;
}

.minimize-button-area {
    width: 45px;
    border: 1px solid yellow;
}

.close-button-area {
    width: 45px;
    border: 1px solid yellow;
}

/* =========================
   MAIN CONTENT AREAS
   ========================= */

.content-area {
    display: flex;
    flex-direction: row;
    height: 280px;
    border: 1px solid magenta;
}

.song-image {
    width: 300px;
    margin: 20px;
    border: 1px solid magenta;
}

.song-list {
    flex: 1;
    margin: 5px 5px 5px 0px;
    border: 1px solid magenta;

    display: flex;
    flex-direction: row;
}

.song-container {
    flex: 1;
    border: 1px solid blue;
}

.list-sidebar {
    width: 10px;
    border: 1px solid magenta;
}

/* ===========================
   PLAY BAR AREAS
   =========================== */

.play-area {
    flex: 1;
    border: 1px solid magenta;

    display: flex;
    flex-direction: column;
}

.progress-bar-area {
    height: 20px;
    border: 1px solid green;
}

.play-buttons-area {
    flex: 1;
    border: 1px solid blue;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.previous-button-area {
    width: 45px;
    margin: 5px;
    border: 1px solid magenta;
}

.play-button-area {
    width: 45px;
    margin: 5px;
    border: 1px solid magenta;
}

.next-button-area {
    width: 45px;
    margin: 5px;
    border: 1px solid magenta;
}